span.about_general {
	font-size: 12px;
}
i {
	font-style: normal;
}
em {
	font-style: normal;
}
.text_info p em {
	font-style: normal;
}
.text_info em {
	font-style: normal;
}
.homepage_list .left .listed_news .news p em {
	font-style: normal;
}
table.last_content td.text {
	width: 360px;
}
.presentation_full .qcon_notice {
	margin-top: -8px; margin-right: 160px;
}
h1 {
	font-family: Arial, sans-serif;
}
h2 {
	font-family: Arial, sans-serif;
}
h3 {
	font-family: Arial, sans-serif;
}
h4 {
	font-family: Arial, sans-serif;
}
ol li {
	border: currentColor;
}
h1.general {
	font-size: 22px; font-weight: bold;
}
.text_info h3 {
	line-height: 36px;
}
.text_info h4 {
	line-height: 32px;
}
.related_sponsors h3 {
	line-height: 1.2;
}
#content .static_pages .left h3 {
	font-size: 18px;
}
#content .static_pages .left .border_box table.core td.c1 {
	font-size: 12px;
}
#content .static_pages .left .border_box table.core td.c2 {
	font-size: 12px;
}
.tab_article .txxt h2 {
	font-family: Arial, sans-serif; font-size: 14px; font-weight: bold;
}
.tab_article .txxt {
	float: left;
}
.tab_article {
	margin: 5px 0px 10px;
}
.tab_article img {
	border: 1px solid rgb(153, 153, 153); width: 85px; height: 85px;
}
.text_content_container ul {
	margin: 0px 0px 15px 10px;
}
.widget_div ul.books li .one_book p {
	font-size: 12px;
}
ul.tabs li {
	font-size: 12px;
}
.homepage_grid .presentations_type.grid .news > div .video_details p a:not(.video_box) {
	font-size: 12px;
}
.homepage_grid .interviews_type.grid .news > div .video_details p a:not(.video_box) {
	font-size: 12px;
}
.homepage_grid .presentations_type.grid .news > div .video_details p span {
	font-size: 12px;
}
.homepage_grid .interviews_type.grid .news > div .video_details p span {
	font-size: 12px;
}
.homepage_list > .tabs li a {
	font-size: 14px;
}
.logo p {
	font-size: 12px;
}
.breadcrumbs {
	font-size: 12px;
}
.widget_div ul.books li .one_book p {
	font-size: 14px;
}
.homepage_list .left .listed_news .news p {
	font-size: 14px;
}
.homepage_list .left .listed_news .news h2 {
	margin: 0px 0px 2px; font-size: 16px; font-weight: bold;
}
.homepage_list .left .listed_news .news {
	margin: 0px 0px 10px;
}
.ebook_list h2 {
	font-size: 16px;
}
h2.itemtitle {
	min-height: 24px;
}
.text_info {
	font-family: Arial, sans-serif; font-size: 14px;
}
.text_info p {
	margin: 0px 0px 15px; line-height: 1.5; font-size: 14px;
}
blockquote {
	margin: 0px 0px 10px;
}
.text_info p em {
	font-size: 14px;
}
.text_info em {
	font-size: 14px;
}
ul.tabs li {
	font-size: 14px;
}
.tag_page_content .tab_content .list.this_is p {
	font-size: 14px;
}
.tag_page_content h2 {
	font-size: 16px;
}
.general_green {
	font-size: 20px;
}
.homepage_list {
	margin: 0px;
}
.related_sponsors p.title {
	margin: 0px 0px 8px;
}
.related_sponsors .related_editorial {
	min-height: 150px;
}
.news_in_tabs .panes > div h3 {
	margin: 0px 0px 10px 1px; height: 18px; overflow: hidden; font-weight: normal;
}
.homepage_grid .grid .news > div h3 {
	margin: 0px; font-size: 14px; font-weight: bold;
}
.homepage_grid .grid .news > div > span {
	font-size: 12px;
}
.articles_type.grid div span {
	text-align: right;
}
#footer {
	margin: 8px 0px; padding: 0px 0px 15px;
}
.our_events .communities {
	margin: 20px 0px 0px;
}
ul.footerMenu li {
	width: 145px;
}
ul.footerMenu {
	margin: 30px 10px 10px 0px;
}
ul.footerTxt1 {
	margin: 30px 20px 10px 30px;
}
div.ftxt3 {
	margin: 30px 0px 10px 20px;
}
.our_events {
	margin: 30px 0px 0px;
}
.communities fieldset {
	margin-top: -12px;
}
.homepage_list .left .listed_news .news {
	font-size: 14px;
}
.widget_div ul.books li .one_book p {
	font-size: 14px;
}
.homepage_list .left .listed_news .news p {
	font-size: 14px;
}
.homepage_list .left .listed_news .news h2 {
	font-size: 20px; font-weight: bold;
}
.homepage_grid .grid .news > div h3 a img {
	border: 1px solid rgb(136, 136, 136); width: 60px; height: 60px;
}
.widget_div ul.books li .one_book p {
	font-size: 12px;
}
.widget_div h2 {
	font-size: 20px; font-weight: bold;
}
.homepage_grid h2 {
	font-size: 20px; font-weight: bold;
}
.homepage_grid .mgtop.home_banner {
	margin-top: 0px;
}
.comments_counts {
	margin: -3px 0px 0px 7px;
}
