@font-face {
	font-family: Gentium Book Basic;
	src: local("Gentium Book Basic"), local("GentiumBookBasic"), url(http://themes.googleusercontent.com/static/fonts/gentiumbookbasic/v4/IRFxB2matTxrjZt6a3FUnm48Ne3jUcc02Ly6R-R1_N4.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/gentiumbookbasic/v4/IRFxB2matTxrjZt6a3FUnsiUQA3_wO-qQTJfqhvSKS0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
